@import "./variables/colors";
@import "./variables/mixins";
@import "./variables/fonts";

.titleInstagram {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: $bolder-urban;
  letter-spacing: 2px;
}

.containerInst {
  align-items: center;
  text-align: center;
}

.txtInstagram {
  margin-top: 60px;
  line-height: 2;
  font-size: 1rem;
  color: $big-Instagram;
  text-transform: uppercase;
  font-family: $bolder-roboto;
}

.block{
  position: relative;
  display: block;
  align-items: center;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas:
    ". a a ."
    ". a a .";
}
.item1 {
  margin-top: 200px;
  grid-area: a;
  align-self: center;
  justify-self: center;
}

.containerInstagram {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  img {
    width: 100%;
    // height: auto;
    display: block;
    transition: all 100ms ease-out;
  }

  img:hover {
    transform: scale(1.04);
  }
}



