$main-color : #fff;
$header-color: black;
$color_1: white;
$background-color_1: rgba(0,0,0,0.8);

$big-Instagram:#cdd0d3;
$big-stone:#152536;
$smalt-blue:#4e958b;
$maroon-flush:#C32361;
$black:#000;
$lite-grey:rgba($black, .2);
$lite-big-stone:rgba($big-stone, .7);

$white: #FFF;
$black: #000;
$text-color: #444;
$brand-color: #e55039;